<% @user = User.new unless @user %>
<div class="sign_in">
  <div class="contents">
    <div class="sign_in_form">
      <h1>Photo</h1>

    </div>
    <div class="sign_in_link">
      <p>アカウントをお持ちですか？ <%= link_to "新規登録する", sign_up_path %></p>
    </div>
  </div>
</div>